{% extends 'base.html' %} {% block content %}
<div class="card text-center">
    <div class="card-body">
        <h1>Sites Audits Management</h1>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:client' %}">Clients</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:site' %}">Sites</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:vendor' %}">Vendors</a>
        <a class="btn btn-dark btn-sm" href="{% url 'audits:checklist' %}">Checklist</a>
    </div>

</div>





{% endblock %}