{% extends "base.html" %} {% block content %}
<div class="content-section">

    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-4">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group" class="uniForm">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form.as_p }} {{ p_form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info btn-sm" type="submit">Update</button>
                    </div>
                </form>

            </section>
        </section>

    </section>


</div>
{% endblock content %}